@keyframes jump {
    0%{
        bottom: 45px;
    }    

    50%{
        bottom: 160px;
    }
}

@keyframes escenario {
    0%{
        right: 0%;
    }
    100%{
        right: 100%;
    }
}

@keyframes obstaculo1 {
    0%{
        left: 1050px;
    }
    100%{
        left: -50px;
    }
    
}