@keyframes jump {
    0%{
        bottom: 45px;
    }    

    40%, 55%{
        bottom: 145px;
    }
}

@keyframes escenario {
    0%{
        right: 0%;
    }
    100%{
        right: 100%;
    }
}

@keyframes obstaculo1 {
    0%{
        right: -10%;
    }
    100%{
        right: 110%;
    }
    
}